aniso8601==9.0.1
appdirs==1.4.4
astroid==2.4.1
attrs==21.2.0
autopep8==1.5.7
click==7.1.2
colorama==0.4.4
distlib==0.3.0
filelock==3.0.12
flake8==3.9.2
Flask==1.1.4
Flask-JWT-Extended==4.2.3
flask-restx==0.4.0
greenlet==1.1.0
importlib-metadata==4.6.1
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.3
jsonschema==3.2.0
lazy-object-proxy==1.4.3
MarkupSafe==2.0.1
marshmallow==3.12.2
mccabe==0.6.1
psycopg2==2.9.1
pycodestyle==2.7.0
pyflakes==2.3.1
PyJWT==2.1.0
pylint==2.5.2
pyrsistent==0.18.0
pytz==2021.1
six==1.16.0
SQLAlchemy==1.4.21
toml==0.10.2
typing-extensions==3.10.0.0
virtualenv==20.0.21
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.5.0